body {
    background-color: var(--neutral-dark);
    font-family: "Outfit", serif;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
    max-width: 350px;
    height: 600px;

    
    border-radius: 15px;

    padding: 24px;
}

.nft-card .image-link .image-nft {
    width: 100%;
    border-radius: 5px;
}

.nft-card .image-link::before {
    content: '';
    background-color: cyan;
    width: 302px;
    height: 302px;
    position: absolute;
}

.nft-card .titulo {
    font-size: 22px;
    font-weight: 800;

    margin: 20px 0;

    color: #ffffff;
}

.nft-card .about {
    font-size: 18px;
    
    line-height: 25px;

    color: hsla(215, 37%, 79%, 0.705);

    margin-bottom: 24px;
}

.nft-card .informacoes {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.096);

    padding-bottom: 21px;
}

.nft-card .informacoes .value {
    color: hsl(178, 100%, 50%);
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    
}

.nft-card .informacoes .value::before {
    content: '';
    display: inline-block;
    background: url('../images/icon-ethereum.svg') center no-repeat;
    width: 15px;
    height: 17px;

    
    margin-right: 5px;
}

.nft-card .informacoes .day-left {
    color: hsla(215, 37%, 79%, 0.705);
    display: flex;
    justify-content: center;
}

.nft-card .informacoes .day-left::before {
    content: '';
    display: inline-block;
    background: url('../images/icon-clock.svg') center no-repeat;
    width: 17px;
    height: 17px;

    padding-top: 4px;

    margin-right: 7px;
}



.nft-card .creator {
    display: flex;
    gap: 20px;
}

.nft-card .creator p {
    font-size: 16px;

    letter-spacing: 1px;

    padding-top: 5px;
    color: hsl(215, 51%, 70%);
}

.nft-card .creator p span {
    letter-spacing: 0;
    color: white;
}

.creator .avatar {
    width: 32px;
    
    border-radius: 50%;
    border: 1px solid white;
}

