body {
    background-color: var(--neutral-dark);
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
    max-width: 350px;
    height: 600px;

    
    border-radius: 15px;

    padding: 24px;
}

.image-nft {
    width: 100%;
    border-radius: 5px;
}

.avatar {
    width: 30px;
}

